// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #b60b91;
  --ion-color-primary-rgb: 245, 61, 205;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #d836b4;
  --ion-color-primary-tint: #f650d2;
}
